@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rhodium+Libre&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans Display', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rhodium Libre', serif;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100%;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

main {
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans Display', sans-serif;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: 'Noto Sans Display', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* pages/courses/[id].js CSS */
.wrapProfileSearchBar {
  background-color: #eee;
  height: 100px;
  display: flex;
  margin-bottom: 50px;
  border-bottom: 1px dashed #ccc;
}

input {
  padding: 0 !important;
}

fieldset {
  border-style: none !important;
}

.copyright {
  display: block;
  text-align: right;
}

.footerWrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap {
  min-height: 100vh;
}

.containerWrap {
  min-height: calc(100% - 375px);
}

.tagsBtnWrap {
  display: flex;
  padding-top: 10px;
}
.tagsBtnContainer {
  display: inline-block;
  padding-right: 4px;
}

.daysOnlineWrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 40px;
}

.displayInlineBlock {
  display: inline-block;
}

.subPageSubTitle {
  font-size: 20px;
  font-family: 'lato';
  margin: 0;
  border-left: 4px solid #ff8957;
  padding-left: 9px;
  height: 18px;
  line-height: 16px;
}

.subPageContentWrap {
  padding-top: 15px;
  padding-right: 90px;
}

.spanTagNameColor {
  font-family: 'lato';
  font-weight: 800;
  color: #008d3e;
  letter-spacing: 1px;
}
.spanGreeting {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
  color: rgb(73, 73, 73);
  letter-spacing: -0.5px;
  font-style: italic;
}
.spanGreetingName {
  font-size: 33px;
  font-style: italic;
  padding-left: 10px;
  font-family: 'Roboto';
  font-weight: 900;
  color: #008d3e;
  letter-spacing: 0.5px;
}

.dashboardContentsGridWrap {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #ececec;
  padding-top: 10px;
  width: 100%;
}

.dashboardGreetingAndBtnWrap {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}

.spanGreetingWrapReal {
  width: auto;
  border-bottom: 10px solid #ededed;
  height: 32px;
}

.dashboardBtnWrap {
  display: flex;
  width: 900px;
  justify-content: flex-end;
}

.addCourseCheckboxWrap {
  text-align: center;
}

.offlineTxtWrap {
  padding: 0 30px 0 20px;
}

.wrapAddreviewBtn {
  padding: 50px;
}

.userUpdateFormWrap {
  height: 500px;
}

.bold {
  font-weight: 400;
}

.addNewReviewWrap {
  display: grid;
}

.rateYourExperienceWrap {
  padding: 30px 0;
}
